<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mesibo.mediapicker">

    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <activity
            android:name="com.mesibo.mediapicker.AlbumStartActivity"
            android:label="@string/title_activity_facebook_album"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.mesibo.mediapicker.zoomVuPictureActivity"
            android:theme="@style/ImageEditorTheme"
            android:label="@string/title_activity_zoomPictureVu" />

        <activity android:name="com.mesibo.mediapicker.ImageEditor"
            android:theme="@style/ImageEditorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>