<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mesibo.messaging">


    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application>
        <activity
            android:name=".MesiboUserListActivity"
            android:theme="@style/MesiboAppTheme"
            android:windowSoftInputMode="adjustNothing" />


        <activity
            android:name=".MesiboMessagingActivity"
            android:theme="@style/MesiboAppTheme" />

        <activity
            android:name=".CreateNewGroupActivity"
            android:theme="@style/CreateGroupTheme" />

        <activity
            android:name=".MesiboEndToEndEncryptionActivity"
            android:theme="@style/MesiboAppTheme" />

        <activity
            android:name=".MesiboMapActivity"
            android:theme="@style/MesiboAppTheme" />

        <activity
            android:name=".MesiboShowProfileActivity"
            android:theme="@style/MesiboAppTheme" />


    </application>

</manifest>
